h1{
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 15px;
}

h3{
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  line-height: 50px;
}

body{
  text-align: center;
  background-color: #00bbdd;
}

p{
  font-style: italic;
  font-size: 20px;
  line-height: 5px;
}

a {
  font-weight: bold;
}

img {
    margin-bottom: 50px;
}
